.THIS .invoice-products{
    background-color: #F4F6F9;
}

.THIS .invoice-selected-products{
    background-color: #FFFDE6;
}

.THIS .slds-card{
	border-radius: 0.25rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(212, 212, 212);
}

.THIS .slds-card__body_inner {
    padding-right: 0px;
    padding-left: 0px;
}

.THIS table.slds-box {
	border-radius: 0;
}