.fielo-myinvoices{
  color: #54698D;
}

.fielo-myinvoices .slds-table thead th {
  color: #54698D;
}

.fielo-myinvoices .slds-form-element__label {
  color: #54698D;
}

.fielo-myinvoices .uiInput--datetime {
  color: #54698D;
}

.fielo-myinvoices .uiInput--datetime input{
  color: #54698D;
}